{% extends '@EkynaCms/base.html.twig' %}

{% block content -%}
{% apply spaceless -%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>News</h1>

            <hr>

            {% set nb_per_row = 2 -%}
            {% set link_params = {} -%}
            {% if pager.currentPage > 1 -%}
                {% set link_params = {'page': pager.currentPage} %}
            {%- endif -%}
            {% for n in news -%}
                {% if loop.index0 % nb_per_row == 0 %}<div class="row">{% endif -%}
                <div class="col-md-{{ 12 / nb_per_row }}">

                    {% if n.media -%}
                    <div class="row">
                        <div class="col-md-4">
                            {% if n.media is media_video %}
                                {{ n.media|media_video_thumb({'filter': 'col_lg_2'}) }}
                            {% else %}
                                {{ n.media|media_image({'filter': 'col_lg_2'}) }}
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                    {%- endif %}

                    <p class="h4">
                        <a href="{{ path('ekyna_news_example_detail', link_params|merge({'slug': n.slug})) }}">
                            {{ n.title }}
                        </a>
                    </p>
                    <p>
                        <em>{{ n.date|format_date('short') }}</em>
                    </p>
                    <p>
                        {{ n.content|striptags|u.truncate(128, '&hellip;', true)|raw }}
                    </p>

                    {% if n.media -%}
                        </div>
                    </div>
                    {%- endif %}

                </div>
                {% if loop.last or loop.index % nb_per_row == 0 %}</div>{% endif -%}
            {% endfor -%}

            <hr>

            <div style="text-align: center">
            {% if 1 < pager.nbPages -%}
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            {%- endif %}
            </div>

        </div>
    </div>
</div>
{%- endapply %}
{%- endblock content %}
