{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block main %}
{% spaceless %}
<div class="actions">
    {{ admin_resource_btn(news, 'edit') }}
    {{ admin_resource_btn(news, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
	    <li class="active">
            <a href="#news-news-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#news-news-seo" id="toggle-seo" data-toggle="tab">
                {{ 'ekyna_core.field.seo'|trans }}
            </a>
        </li>
	</ul>
	<div class="show-body">
	    <div class="tab-content">
		    <div class="tab-pane active" id="news-news-general">
                {{ show_row(news.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(news.date, 'datetime', {
                            'label': 'ekyna_core.field.date',
                            'time_format': 'none',
                            'label_col': 4,
                            'widget_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(news.enabled, 'boolean', {
                            'label': 'ekyna_core.field.enabled',
                            'color': true,
                            'label_col': 4,
                            'widget_col': 8
                        }) }}
                    </div>
                </div>
                {{ show_row(news.translations, 'translations', {
                    'fields': {
                        'title': {'label': 'ekyna_core.field.title'},
                        'content': {
                            'label': 'ekyna_core.field.content',
                            'type': 'tinymce',
                            'value': path('ekyna_news_news_admin_tinymce', identifiers|merge({'newsId': news.id})),
                        }
                    }
                }) }}
                {{ show_row(news.media, 'media', {
                    'label': 'ekyna_core.field.media'
                }) }}
		    </div>
            <div class="tab-pane" id="news-news-seo">
                {{ show_row(news.seo, 'seo') }}
            </div>
        </div>
	</div>
</div>
{% endspaceless %}
{% endblock %}